.navbar{background-color: #eef6db; border: 0px 0px 0px;}
.navbar-inverse .navbar-nav>li>a,.navbar-inverse .navbar-text{color:black; font-weight: bold}
.navbar-inverse{border: 0 px}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover{color:white;background-color: #88B04B}

.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:hover{color: white ; background-color:#88B04B}

.toc .nav>li.active>a:link,.toc .nav>li.active>a:visited { color: rgb(136, 176, 75)}
.toc .nav > li.active > a {color: rgb(136, 176, 75)}
.affix > ul > li.active > a, .affix > ul > li.active > a:before {color: rgb(136, 176, 75);font-weight: bold}
.affix ul > li.active > a, .affix ul > li.active > a:before {color: rgb(136, 176, 75);}
.subnav{color:black; background-color:#88B04B;}

.collapse.in,
.collapsing {
  text-align: left;
}

html {
	font-family: Lato-Black;	
}
header .navbar {
  border-width: 0 0 0px;
  border-radius: 0;
}

body {
	font-size: 15px;
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	color: #000;
}

a:link {
	text-decoration: none;
	color: rgb(136, 176, 75);
}

a:visited {
	text-decoration: none;
	color: rgb(136, 176, 75);
}

.subnav a:link {
	text-decoration: none;
	color: rgb(255,255,255);
}

.subnav a:visited {
	text-decoration: none;
	color: rgb(255,255,255);
}

img[src*="Fusee"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}