.navbar{background-color: #eef6db;}

.navbar-inverse .navbar-nav>li>a,.navbar-inverse .navbar-text{color:black;}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover{color:black;background-color:#bdff6b}

.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:hover{color: black ; background-color:#88B04B}

.toc .nav>li.active>a:link,.toc .nav>li.active>a:visited { color: rgb(136, 176, 75)}

.subnav{color:black; background-color:#88B04B;}

html {
	font-family: Lato-Black;	
}

body {
	font-size: 15px;
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	color: #000;
}

a:link {
	text-decoration: none;
	color: rgb(136, 176, 75);
}

a:visited {
	text-decoration: none;
	color: rgb(136, 176, 75);
}

.subnav a:link {
	text-decoration: none;
	color: rgb(255,255,255);
}

.subnav a:visited {
	text-decoration: none;
	color: rgb(255,255,255);
}