### YamlMime:ManagedReference
items:
- uid: Fusee.Engine.Common.NetStatusValues
  commentId: T:Fusee.Engine.Common.NetStatusValues
  id: NetStatusValues
  parent: Fusee.Engine.Common
  children:
  - Fusee.Engine.Common.NetStatusValues.Connected
  - Fusee.Engine.Common.NetStatusValues.Connecting
  - Fusee.Engine.Common.NetStatusValues.LastStatus
  langs:
  - csharp
  - vb
  name: NetStatusValues
  nameWithType: NetStatusValues
  fullName: Fusee.Engine.Common.NetStatusValues
  type: Class
  source:
    id: NetStatusValues
    path: C:\Users\test\Documents\fusee\Fusee\src\Engine\Common\INetworkImp.cs
    startLine: 38
  assemblies:
  - Fusee.Engine.Common
  namespace: Fusee.Engine.Common
  summary: "\nConnection status object.\n"
  example: []
  syntax:
    content: public class NetStatusValues
    content.vb: Public Class NetStatusValues
  inheritance:
  - System.Object
  inheritedMembers:
  - System.Object.Equals(System.Object)
  - System.Object.Equals(System.Object,System.Object)
  - System.Object.GetHashCode
  - System.Object.GetType
  - System.Object.MemberwiseClone
  - System.Object.ReferenceEquals(System.Object,System.Object)
  - System.Object.ToString
  modifiers.csharp:
  - public
  - class
  modifiers.vb:
  - Public
  - Class
- uid: Fusee.Engine.Common.NetStatusValues.Connected
  commentId: P:Fusee.Engine.Common.NetStatusValues.Connected
  id: Connected
  parent: Fusee.Engine.Common.NetStatusValues
  langs:
  - csharp
  - vb
  name: Connected
  nameWithType: NetStatusValues.Connected
  fullName: Fusee.Engine.Common.NetStatusValues.Connected
  type: Property
  source:
    id: Connected
    path: C:\Users\test\Documents\fusee\Fusee\src\Engine\Common\INetworkImp.cs
    startLine: 46
  assemblies:
  - Fusee.Engine.Common
  namespace: Fusee.Engine.Common
  summary: "\nGets and sets a value indicating whether [connected].\n"
  example: []
  syntax:
    content: public bool Connected { get; set; }
    parameters: []
    return:
      type: System.Boolean
      description: "\n<code>true</code> if [connected]; otherwise, <code>false</code>.\n"
    content.vb: Public Property Connected As Boolean
  overload: Fusee.Engine.Common.NetStatusValues.Connected*
  modifiers.csharp:
  - public
  - get
  - set
  modifiers.vb:
  - Public
- uid: Fusee.Engine.Common.NetStatusValues.Connecting
  commentId: P:Fusee.Engine.Common.NetStatusValues.Connecting
  id: Connecting
  parent: Fusee.Engine.Common.NetStatusValues
  langs:
  - csharp
  - vb
  name: Connecting
  nameWithType: NetStatusValues.Connecting
  fullName: Fusee.Engine.Common.NetStatusValues.Connecting
  type: Property
  source:
    id: Connecting
    path: C:\Users\test\Documents\fusee\Fusee\src\Engine\Common\INetworkImp.cs
    startLine: 53
  assemblies:
  - Fusee.Engine.Common
  namespace: Fusee.Engine.Common
  summary: "\nGets and sets a value indicating whether [connecting].\n"
  example: []
  syntax:
    content: public bool Connecting { get; set; }
    parameters: []
    return:
      type: System.Boolean
      description: "\n<code>true</code> if [connecting]; otherwise, <code>false</code>.\n"
    content.vb: Public Property Connecting As Boolean
  overload: Fusee.Engine.Common.NetStatusValues.Connecting*
  modifiers.csharp:
  - public
  - get
  - set
  modifiers.vb:
  - Public
- uid: Fusee.Engine.Common.NetStatusValues.LastStatus
  commentId: F:Fusee.Engine.Common.NetStatusValues.LastStatus
  id: LastStatus
  parent: Fusee.Engine.Common.NetStatusValues
  langs:
  - csharp
  - vb
  name: LastStatus
  nameWithType: NetStatusValues.LastStatus
  fullName: Fusee.Engine.Common.NetStatusValues.LastStatus
  type: Field
  source:
    id: LastStatus
    path: C:\Users\test\Documents\fusee\Fusee\src\Engine\Common\INetworkImp.cs
    startLine: 58
  assemblies:
  - Fusee.Engine.Common
  namespace: Fusee.Engine.Common
  summary: "\nFeedback about the last status.\n"
  example: []
  syntax:
    content: public ConnectionStatus LastStatus
    return:
      type: Fusee.Engine.Common.ConnectionStatus
    content.vb: Public LastStatus As ConnectionStatus
  modifiers.csharp:
  - public
  modifiers.vb:
  - Public
references:
- uid: Fusee.Engine.Common
  commentId: N:Fusee.Engine.Common
  name: Fusee.Engine.Common
  nameWithType: Fusee.Engine.Common
  fullName: Fusee.Engine.Common
- uid: System.Object
  commentId: T:System.Object
  parent: System
  isExternal: true
  name: Object
  nameWithType: Object
  fullName: System.Object
- uid: System.Object.Equals(System.Object)
  commentId: M:System.Object.Equals(System.Object)
  parent: System.Object
  isExternal: true
  name: Equals(Object)
  nameWithType: Object.Equals(Object)
  fullName: System.Object.Equals(System.Object)
  spec.csharp:
  - uid: System.Object.Equals(System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.Equals(System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.Equals(System.Object,System.Object)
  commentId: M:System.Object.Equals(System.Object,System.Object)
  parent: System.Object
  isExternal: true
  name: Equals(Object, Object)
  nameWithType: Object.Equals(Object, Object)
  fullName: System.Object.Equals(System.Object, System.Object)
  spec.csharp:
  - uid: System.Object.Equals(System.Object,System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.Equals(System.Object,System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.GetHashCode
  commentId: M:System.Object.GetHashCode
  parent: System.Object
  isExternal: true
  name: GetHashCode()
  nameWithType: Object.GetHashCode()
  fullName: System.Object.GetHashCode()
  spec.csharp:
  - uid: System.Object.GetHashCode
    name: GetHashCode
    nameWithType: Object.GetHashCode
    fullName: System.Object.GetHashCode
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.GetHashCode
    name: GetHashCode
    nameWithType: Object.GetHashCode
    fullName: System.Object.GetHashCode
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.GetType
  commentId: M:System.Object.GetType
  parent: System.Object
  isExternal: true
  name: GetType()
  nameWithType: Object.GetType()
  fullName: System.Object.GetType()
  spec.csharp:
  - uid: System.Object.GetType
    name: GetType
    nameWithType: Object.GetType
    fullName: System.Object.GetType
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.GetType
    name: GetType
    nameWithType: Object.GetType
    fullName: System.Object.GetType
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.MemberwiseClone
  commentId: M:System.Object.MemberwiseClone
  parent: System.Object
  isExternal: true
  name: MemberwiseClone()
  nameWithType: Object.MemberwiseClone()
  fullName: System.Object.MemberwiseClone()
  spec.csharp:
  - uid: System.Object.MemberwiseClone
    name: MemberwiseClone
    nameWithType: Object.MemberwiseClone
    fullName: System.Object.MemberwiseClone
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.MemberwiseClone
    name: MemberwiseClone
    nameWithType: Object.MemberwiseClone
    fullName: System.Object.MemberwiseClone
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.ReferenceEquals(System.Object,System.Object)
  commentId: M:System.Object.ReferenceEquals(System.Object,System.Object)
  parent: System.Object
  isExternal: true
  name: ReferenceEquals(Object, Object)
  nameWithType: Object.ReferenceEquals(Object, Object)
  fullName: System.Object.ReferenceEquals(System.Object, System.Object)
  spec.csharp:
  - uid: System.Object.ReferenceEquals(System.Object,System.Object)
    name: ReferenceEquals
    nameWithType: Object.ReferenceEquals
    fullName: System.Object.ReferenceEquals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.ReferenceEquals(System.Object,System.Object)
    name: ReferenceEquals
    nameWithType: Object.ReferenceEquals
    fullName: System.Object.ReferenceEquals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.ToString
  commentId: M:System.Object.ToString
  parent: System.Object
  isExternal: true
  name: ToString()
  nameWithType: Object.ToString()
  fullName: System.Object.ToString()
  spec.csharp:
  - uid: System.Object.ToString
    name: ToString
    nameWithType: Object.ToString
    fullName: System.Object.ToString
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.ToString
    name: ToString
    nameWithType: Object.ToString
    fullName: System.Object.ToString
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System
  commentId: N:System
  isExternal: true
  name: System
  nameWithType: System
  fullName: System
- uid: Fusee.Engine.Common.NetStatusValues.Connected*
  commentId: Overload:Fusee.Engine.Common.NetStatusValues.Connected
  name: Connected
  nameWithType: NetStatusValues.Connected
  fullName: Fusee.Engine.Common.NetStatusValues.Connected
- uid: System.Boolean
  commentId: T:System.Boolean
  parent: System
  isExternal: true
  name: Boolean
  nameWithType: Boolean
  fullName: System.Boolean
- uid: Fusee.Engine.Common.NetStatusValues.Connecting*
  commentId: Overload:Fusee.Engine.Common.NetStatusValues.Connecting
  name: Connecting
  nameWithType: NetStatusValues.Connecting
  fullName: Fusee.Engine.Common.NetStatusValues.Connecting
- uid: Fusee.Engine.Common.ConnectionStatus
  commentId: T:Fusee.Engine.Common.ConnectionStatus
  parent: Fusee.Engine.Common
  name: ConnectionStatus
  nameWithType: ConnectionStatus
  fullName: Fusee.Engine.Common.ConnectionStatus
